!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %meta{:name =>"viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= @title

    / Bootstrap Core CSS
    = stylesheet_link_tag "theme/bootstrap.min.css"

    / Custom Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag "font-awesome/css/font-awesome.min.css"
    / Plugin CSS
    = stylesheet_link_tag "theme/animate.min.css"
    / Custom CSS
    = stylesheet_link_tag "theme/creative.css"
    /= stylesheet_link_tag "customize"
    /= stylesheet_link_tag "screen"


    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body#page-top

    = partial "navigation"

    = yield

    = partial "footer"

    / jQuery
    %script{:src => "javascripts/theme/jquery.js"}
    / Bootstrap Core JavaScript
    = javascript_include_tag "plugins", "script"
    = javascript_include_tag "bootstrap.js"
    / Plugin JavaScript
    %script{:src => "javascripts/theme/jquery.easing.min.js"}
    %script{:src => "javascripts/theme/jquery.fittext.js"}
    %script{:src => "javascripts/theme/wow.min.js"}
    / Custom Theme JavaScript
    %script{:src => "javascripts/theme/creative.js"}

    -# <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/tomorrow-night.min.css">
    -# <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    -# %script hljs.initHighlightingOnLoad();


  -# Google Analytics: change UA-XXXXX-X to be your site's ID.
  -# uncomment when deploying
  / :javascript
  /   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  /   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  /   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  /   s.parentNode.insertBefore(g,s)}(document,'script'));
