%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p 
          &copy; #{copyright_years(2015)} Hans Hiscore 
          \|
          = link_to 'Legal', 'legal'
          \|
          = link_to 'Facebook', 'https://www.facebook.com/hanshiscore'
          \|
          = link_to 'Twitter', 'https://twitter.com/hanshiscore'
          \|
          = link_to 'Soundcloud', 'https://soundcloud.com/hanshiscore'